<style>
     button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #5c8bd1;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 5px;
            transition: 0.5s;
        }

        button:hover {
            background-color: #3d70bb;
        }
</style>


<nav class="my-2 px-2 d-flex justify-content-between">
    <div class="d-flex">
        <h2 class="me-5">Bienvenido <strong>{{ user.user.first_name }} {{ user.user.last_name }}</strong></h2>
        <h2>Rol: {{ user.role }}</h2>
    </div>
    <div>
        <button id="btnInicio">Inicio</button>
        <button id="btnLogout">Cerrar sesión</button>
    </div>
</nav>

<div id="prodContainer" class="d-flex flex-row flex-wrap">
    {{#each products}}
        <div class="card m-1" style="width: 18rem">
            <div class="card-body">
                <h4 class="card-title">{{this.title}}</h4>
                <h5 class="card-subtitle mb-2 text-body-secondary">Disponibles: {{this.stock}}</h5>
                <h6 class="card-text">{{this.description}}</h6>
                <p>Categoría: {{this.category}}</p>
                <div class="d-flex flex-row justify-content-between">
                    <h4>${{this.price}}</h4>
                    <button id="addToCart" data-id="{{this.id}}">Añadir al carrito</button>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../index.js" type="module"></script>